body{
    background-color: forestgreen;
    font-family:Helvetica;
}

#title {
    color: white;
    font-size: xx-large;
    margin: auto;
    text-align: center;

}

.search-bar {
    display: inline;
    font-family: Helvetica;
    font-size: large;
    color:antiquewhite;
}
.music-player{
    padding: 100px;
    width: 45%;
    color: lightblue;
    background-color:skyblue;
    margin:auto;

}

.song-image{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.song-info{
    color:white;
    text-align: center; 
}

.controls {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}