body{
    background-color: #06283D;
    font-family:Helvetica;
}

#title {
    color: white;
    font-size: xx-large;
    margin: auto;
    text-align: center;

}

.search-bar {
    margin: auto;
    text-align: center;
    font-family: Helvetica;
    font-size: large;
    color:antiquewhite;
    padding: 10px;
}
.music-player{
    border-radius: 45px;
    display: block;
    padding: 50px;
    width: 45%;
    color: #256D85;
    background-color: #256D85;
    margin:auto;

}
.song-image{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#image{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.song-info{
    color:white;
    text-align: center; 
}

.volume-text{
    color: white;
    font-size: large;
    display: block;
    margin-top: 20px;
}

.volume{
    display: inline;
}

.controls {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
svg:hover {
    fill: black;
}

.play-pause {
    width: 50px;
    height: 50px;
    background-color: #256D85;
    border: 0px;
}
.prev-song {
    width: 50px;
    height: 50px;
    background-color: #256D85;
    border: 0px;
}
.next-song {
    width: 50px;
    height: 50px;
    background-color: #256D85;
    border: 0px;
}

.suggest-button {
    padding: 10px;
    color: white;
    width: 50%;
    height: 70%;
    text-align: center;
    margin-left: 25%;
    margin-top: 10px;
}

#rec-text {
    text-align: center;
}

.tutorial-image {
    border-radius: 45px;
    display: block;
    padding: 50px;
    width: 45%;
}

#too-many-enters {
    display: none;
}